.background{
    background: linear-gradient(to right,red,blue);
}
.active{
    background-color: rgb(251, 106, 106) !important;
    /* border-bottom: 2px solid rgb(121, 121, 251); */
}

.source-data{
    display: flex;
    justify-content: space-between;
    margin-bottom: -30px;
    margin-top: -20px;
}
.card-title{
    margin-top: -20px;
    font-size: 1rem;
    height: 80px;
}

.card-text{
    font-size: 0.9rem;
    height: 200px;
}

@media only screen and (min-width:0) and (max-width:575px){
    .card-title{
        height: 50px;
    }
    .card-text{
    height: 125px;

    }
}